* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  min-height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 20px;
  padding: 0 10px;
  background: linear-gradient(330deg, rgb(255, 255, 255) 55%, aqua 1%);
}

.header-img-container {
  position: relative;
  margin: 25px;
}

.header-img-container > p {
  position: absolute;
  font-size: 3.5rem;
  bottom: 5px;
  left: 5px;
  letter-spacing: 2px;
  line-height: 120%;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icons {
  width: 30px;
  height: auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 0 20px;
  gap: 20px;
}

.project {
  flex: 1 0 250px;
  border: 1px solid black;
}

.project-img {
  height: 200px;
  background-color: bisque;
}
